<section class="homepage">
<div class="row">
<h1 class="header welcome-header text-center"> My Piggy Bank</h1>
</div>
<div class="row center-block piggy-bank-icon">
<div class="col-md-8 col-md-offset-2 text-center login-center">
<img src="piggybank2.png" alt="Piggy Bank" height="300" width="300">
</div>
</div>
<span id="slogan"><strong>educating your children one coin at a time</strong></span>
<div class="row top-buffer center-block login-row">
<div class="col-md-8 col-md-offset-2 text-center login-center middle">
<div class="wrapper">
    <h2 class="form-signin-heading"></h2>
    	<form class="register-form" action="/parents/new" method="GET">
      <button id="home-button" class="btn btn-lg btn-primary btn-block register-button" type="submit"><span class="home-text">Get Started</span></button>
      </form>
      <br>
      <form class="login-form" action="/sessions/new" method="GET">
			<button id="home-button" class="btn btn-lg btn-primary btn-block login-button" type="submit"><span class="home-text">Login</span></button>
		 </form>
  </div>
</div>
</div>
</section>
