<div class="row">
<h1 class="header welcome-header text-center"> My Piggy Bank</h1>
</div>
<div class="row center-block piggy-bank-icon">
<div class="col-md-8 col-md-offset-2 text-center login-center">
<img src="piggybank.png" alt="Piggy Bank" height="300" width="300">
</div>
</div>
<div class="row top-buffer center-block login-row">
<div class="col-md-8 col-md-offset-2 text-center login-center middle">
<div class="wrapper">
    <h2 class="form-signin-heading"></h2>
    	<form class="register-form" action="/parents/new" method="GET">
      <button class="btn btn-lg btn-primary btn-block register-button" type="submit">Get Started</button>
      </form>
      <br>
      <form class="login-form" action="/sessions/new" method="GET">
			<button class="btn btn-lg btn-primary btn-block login-button" type="submit">Login</button>
		 </form>
  </div>
</div>

</div>


