<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 text-center middle">
<div class="wrapper">
    <h2 class="form-signin-heading">Welcome to My PiggyBank</h2>
    	<form class="register-form" action="/parents/new" method="GET">
      <button class="btn btn-lg btn-primary btn-block register-button" type="submit">Get Started</button>
      </form>
      <br>
      <form class="login-form" action="/sessions/new" method="GET"> 
			<button class="btn btn-lg btn-primary btn-block login-button" type="submit">Login</button>
		 </form>
  </div>
</div>
<div class="col-md-4"></div>
</div>
