<h3 class="header login-header">welcome back</h3>
    <form id="sign-in-form" class="form-signin" method="POST" action="/login">
      <input id="username-input" type="text" class="form-control" name="user[username]" placeholder="Username" required="" autofocus="" />
      <input id="password-input" type="password" class="form-control" name="user[password]" placeholder="Password" required=""/>
      <button class="btn btn-lg btn-primary btn-block next-login-button" id="home-button" type="submit"><span class="home-text">Login</span></button>
    </form>
