<div class="row">
<div class="col-sm-4">
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">Home <span class="badge"></span></a></li>
  <li role="presentation"><a href="#"><%= current_user.email %></a></li>
  <li role="presentation"><a href="#">Messages <span class="badge"></span></a></li>
</ul>
</div>
</div>
