<div class="row">
<div class="col-sm-4">
<ul class="nav nav-pills" role="tablist">
 <% if current_user%>
 <li role="presentation"><a href="/"><%= current_user.name %></a></li>
 <li role="presentation"><a href="/logout">Log Out <span class="badge"></span></a></li>
 <%else%>
 <li role="presentation" ><a href="/login">Login <span class="badge"></span></a></li>
 <li role="presentation"><a href="/parents/new">Register</a></li>
   <%end%>
</ul>
</div>
</div>