
<form id="new-parent-form" class="form-horizontal" action='/parents' method="POST">
  <h3 class="header register-header">financial education begins here</h3>
  <fieldset>

    <div id="new-parent-name-input" class="control-group">
      <!-- name -->

      <div id="name-input" class="controls">
        <input type="text" id="name" name="parent[name]" placeholder="Name" class=" form-control input-xlarge"  autofocus =""  required>

    </div>
    </div>
    <div id="new-parent-username-input" class="control-group">
      <!-- Username -->

      <div class="controls">
        <input type="text" id="username" name="parent[username]" placeholder="Username" class="input-xlarge form-control " autofocus ="" required>

      </div>
    </div>



    <div id="new-parent-email-input" class="control-group">
      <!-- Email -->

      <div class="controls">
        <input type="text" id="email" name="parent[email]" placeholder="Email" class="input-xlarge form-control "  autofocus ="" required>

      </div>
    </div>

    <div id="new-parent-password-input" class="control-group">
      <!-- Password-->

      <div class="controls">
        <input type="password" id="password" name="parent[password]" placeholder="Password" class="input-xlarge form-control "  autofocus ="" required>
      </div>
    </div>

    <div id="new-parent-submit" class="control-group">
      <!-- Button -->
      <div class="controls">
        <button id="home-button" class="btn btn-lg btn-primary btn-block"><span class="home-text">Register</span></button>
      </div>
    </div>
  </fieldset>
</form>
