
<form class="form-horizontal" action='/parents' method="POST">
  <fieldset>

    <div class="control-group">
      <!-- name -->

      <div class="controls">
        <input type="text" id="name" name="parent[name]" placeholder="Name" class=" form-control input-xlarge"  autofocus =""  required>

    </div>
    </div>
    <div class="control-group">
      <!-- Username -->

      <div class="controls">
        <input type="text" id="username" name="parent[username]" placeholder="Username" class="input-xlarge form-control " autofocus ="" required>

      </div>
    </div>



    <div class="control-group">
      <!-- Email -->

      <div class="controls">
        <input type="text" id="email" name="parent[email]" placeholder="Email" class="input-xlarge form-control "  autofocus ="" required>

      </div>
    </div>

    <div class="control-group">
      <!-- Password-->

      <div class="controls">
        <input type="password" id="password" name="parent[password]" placeholder="Password" class="input-xlarge form-control "  autofocus ="" required>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button id="home-button" class="btn btn-lg btn-primary btn-block"><span class="home-text">Register</span></button>
      </div>
    </div>
  </fieldset>
</form>
