// Place all the styles related to the children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #E4E6C3 !important;
}

#piggy {
	color: #FFC9B5;
}
.bank-content {
	 top:0;
    left:0;
    position: absolute;
}

.banks {
	/*margin-right: 5px;*/
	width: 250px;
	 position:relative;
}

.coins {
	z-index: 2;
}