// Place all the styles related to the parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#interest-input input {
  width: 340px;
}

#interest-input {
  position: relative;
  bottom: 75px;
}

#add-child-button {
  position: relative;
  left: 400px;
  bottom: 125px;
}

#input-child-name {
  width: 200px;
}

#input-child-username {
  position: relative;
  width: 230px;
  left: 225px;
  bottom: 75px;
}

#input-save-for {
  position: relative;
  bottom: 75px;
}

#input-child-password {
  position: relative;
  bottom: 75px;
}

#send-money-amount-input {
  position: relative;
  left: 110px;
  bottom: 63px;
}

#send-money-amount-input input {
  height: 25px;
  width: 150px;
}

#send-money-submit {
  position: relative;
  bottom: 110px;
  left: 300px;
}

#send-money-form {
  margin-top: 30px;
}
