// Place all the styles related to the parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#interest-input input {
  width: 340px;
}

#interest-input {
  position: relative;
  bottom: 75px;
}

#add-child-button {
  position: relative;
  left: 410px;
  bottom: 158px;
  font-family: "Handlee", cursive;
  box-shadow: 2px 2px 5px #888888;
}

#input-child-name {
  width: 200px;
}

#input-child-username {
  position: relative;
  width: 230px;
  left: 225px;
  bottom: 75px;
}

#input-save-for {
  position: relative;
  bottom: 75px;
}

#input-child-password {
  position: relative;
  bottom: 75px;
}

#send-money-select-child {
  width: 120px;
}

#send-money-select-child select {
  box-shadow: 2px 2px 5px #333333;
}

#send-money-select-child label {
  color: white;
}

#send-money-amount-input {
  position: relative;
  left: 140px;
  bottom: 75px;
  width: 220px;
}

#send-money-amount-input input {
  box-shadow: 2px 2px 5px #333333;
}

#send-money-amount-input label {
  color: white;
}

#send-money-submit {
  position: relative;
  bottom: 125px;
  left: 290px;
  font-family: "Handlee", cursive;
  box-shadow: 2px 2px 5px #333333;
  background-color: #62d4d4 !important;
}

#send-money-header {
  margin-top: 30px;
}

#send-money-form {
  margin-top: 20px;
  border: 1px solid #648767;
  // background-color: #648767;
  // background: linear-gradient(#D1F0B1, #648767);
  background-color: #ff6b6b;
  padding-left: 40px;
  padding-top: 40px;
  height: 150px;
  box-shadow: 2px 2px 5px #888888;
  // border-radius: 12px;

}

#reward-cost-input {
  width: 150px;
}

#reward-child-input {
  position: relative;
  left: 175px;
  width: 150px;
  bottom: 74px;
}

#reward-submit {
  position: relative;
  left: 350px;
  bottom: 125px;
  font-family: "Handlee", cursive;
}

#add-reward-form input {
  box-shadow: 2px 2px 5px #888888;
}

#add-reward-form select {
  box-shadow: 2px 2px 5px #888888;
}

#add-reward-form button {
  box-shadow: 2px 2px 5px #888888;
}

.header {
  font-family: "Cutive", cursive;
}

.btn {
  font-family: "Cutive", cursive;
  background: #c44d58 !important;
  border: none !important;
}

.btn:hover {
  background-color: #c7f464 !important;
  color: black !important;
}

#home-button {
  background-color: #62d4d4 !important;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #333333;
}

 .login-row {
  background-color: #ff6b6b !important;
  box-shadow: 3px 3px 5px #888888;
}

#navigation-bar {
  background-color: #ff6b6b !important;
  box-shadow: 1px 1px 5px #888888;
}

.welcome-header {
  color: white;
  position: relative;
  top: 260px;
  z-index: 1;
  text-shadow: 1px 1px 3px;
  font-size: 25px;
}

.home-text {
  color: black !important;
}

#dashboard-nav li .active {
  background-color: #c44d58 !important;
}

.account-buttons {
  margin-top: 25px;
}

#transfer-child-form div {
  padding: 7px;
}

#transfer-child-form {
  margin-bottom: 10px;
}

#transfer-child-form input {
  box-shadow: 2px 2px 5px #888888;
}

#transfer-child-form select {
  box-shadow: 2px 2px 5px #888888;
}

#transfer-child-form button {
  box-shadow: 2px 2px 5px #888888;
}

#withdraw-child-form input {
  box-shadow: 2px 2px 5px #888888;
}

#withdraw-child-form select {
  box-shadow: 2px 2px 5px #888888;
}

#withdraw-child-form button {
  box-shadow: 2px 2px 5px #888888;
}

#withdraw-child-form div {
  padding: 7px
}

#withdraw-child-form {
  margin-top: 10px;
}

#add-reward-toggle-button {
  position: relative;
  left: 160px;
}

#initial-setup input {
  box-shadow: 2px 2px 5px #888888;
}

#percent {
  width: 10px;
  height: 34px;
  position: relative;
  left: 337px;
  bottom: 34px;
  box-shadow: 2px 2px 5px #888888;
}

#dashboard-nav > li.active > a {
  // font-family: "Handlee", cursive;
  background-color: #c44d58 !important;
  color: white;
}

#dashboard-nav a {
  color: black;
}

#child-account-undeposited {
  position: relative;
  left: 200px;
  bottom: 20px;
}

#child-manage-accounts li {
  margin: 5px;
}

#manage-accounts {
  cursor: pointer;
}

#notification-container {
  border: 1px dotted black;
  // border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
  background-color: #c44d58;
}

.notification-header {
  padding-left: 7px;
  color:white;
}

.notification-table {
  padding-left: 17px;
}

#arrow {
  position: relative;
  right: 40px;
  bottom: 110px;
  z-index: 1;
  transform: rotate(45deg);
}

#atm-pic {
  position: relative;
  right: 78px;
  // z-index: 1;
}

#logo {
  padding: 7px;
  padding-left: 10px;
  font-size: 19px;
}

.child-welcome {
  margin-bottom: 90px;
}

#new-parent-form div {
  padding: 3px;
}

#new-parent-form input {
  box-shadow: 2px 2px 5px #333333;
}

.register-header {
  color: white;
  margin-bottom: 20px;
}

#new-parent-name-input {
  width: 170px;
}

#new-parent-username-input {
  width: 175px;
  position: relative;
  bottom: 46px;
  left: 175px;
}

#new-parent-email-input {
  position: relative;
  bottom: 45px;
}

#new-parent-password-input {
  position: relative;
  bottom: 45px;
}

#new-parent-submit {
  position: relative;
  bottom: 45px;
}

.login-header {
  color: white;
  margin-top: -27px;
}

#sign-in-form input {
  margin: 10px;
  box-shadow: 2px 2px 5px #333333;
}

#username-input {
  margin-top: 4px;
}

.next-login-button {
  margin-top: 20px;
  position: relative;
  left: 10px;
}
// .child-manage-accounts li:nth-child(odd) {
//   background-color: silver;
// }

#transfer-form input{
  box-shadow: 2px 2px 5px #333333;
}

#transfer-form select {
  box-shadow: 2px 2px 5px #333333;
}

#transfer-form button {
  box-shadow: 2px 2px 5px #333333;
}

.buy-reward-click:hover {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.logo-div {
  width: 250px;
}

#logo-piggy {
  padding: 1px;
}

.child-bank-header {
  font-size: 29px;
}

.child-bank-extra {
  font-size: 15px;
}

.bank-button {
  font-size: 10px !important;
}

.notif-button {
  background-color: #62d4d4 !important;
}

#amount-field {
  background-color: white !important;
  width: 143px;
  height: 60px;
  font-size:17px;
  border-radius: 0px !important;
  position: relative;
  top: 6px;
  right: 4px;
}

.homepage {
  border: 1px white dotted;
  width: 900px;
  height: 700px;
  margin: 0 auto;
}

#slogan {
  position: relative;
  left: 280px;
  top: 20px;
  font-size: 17px;
  font-style: italic;
}

.parent-middle-component {
  border: 1px dotted white;
  height: 700px;
  padding: 10px;
  box-shadow: 1px 1px 5px #888888;
}
