// Place all the styles related to the parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#interest-input input {
  width: 340px;
}

#interest-input {
  position: relative;
  bottom: 75px;
}

#add-child-button {
  position: relative;
  left: 410px;
  bottom: 158px;
  font-family: "Handlee", cursive;
  box-shadow: 2px 2px 5px black;
}

#input-child-name {
  width: 200px;
}

#input-child-username {
  position: relative;
  width: 230px;
  left: 225px;
  bottom: 75px;
}

#input-save-for {
  position: relative;
  bottom: 75px;
}

#input-child-password {
  position: relative;
  bottom: 75px;
}

#send-money-select-child {
  width: 120px;
}

#send-money-select-child select {
  box-shadow: 2px 2px 5px black;
}

#send-money-select-child label {
  color: white;
}

#send-money-amount-input {
  position: relative;
  left: 140px;
  bottom: 75px;
  width: 220px;
}

#send-money-amount-input input {
  box-shadow: 2px 2px 5px black;
}

#send-money-amount-input label {
  color: white;
}

#send-money-submit {
  position: relative;
  bottom: 125px;
  left: 290px;
  font-family: "Handlee", cursive;
  box-shadow: 2px 2px 5px black;
  background-color: #D1F0B1 !important;
}

#send-money-header {
  margin-top: 30px;
}

#send-money-form {
  margin-top: 20px;
  border: 1px solid #648767;
  // background-color: #648767;
  // background: linear-gradient(#D1F0B1, #648767);
  background: rgba(100, 135, 103, 0.7);
  padding-left: 40px;
  padding-top: 40px;
  height: 150px;
  box-shadow: 2px 2px 5px black;
  border-radius: 12px;
}

#reward-cost-input {
  width: 150px;
}

#reward-child-input {
  position: relative;
  left: 175px;
  width: 150px;
  bottom: 74px;
}

#reward-submit {
  position: relative;
  left: 350px;
  bottom: 125px;
  font-family: "Handlee", cursive;
}

.header {
  font-family: "Handlee", cursive;
}

.btn {
  font-family: "Handlee", cursive;
  background-color: #648767 !important;
  border: none !important;
}

#home-button {
  box-shadow: 5px 5px 5px black;
  background-color: #D1F0B1 !important;
}

 .login-row {
  background-color: #648767 !important;
  box-shadow: 5px 5px 5px black;
}

#navigation-bar {
  background-color: #648767 !important;
}

.welcome-header {
  color: white;
  position: relative;
  top: 260px;
  z-index: 1;
  text-shadow: 1px 1px 3px;
  font-size: 30px;
}

.home-text {
  color: black !important;
}

#dashboard-nav li .active {
  background-color: #8DC498 !important;
}

.account-buttons {
  margin-top: 25px;
}

#transfer-child-form div {
  padding: 7px;
}

#transfer-child-form {
  margin-bottom: 10px;
}

#transfer-child-form input {
  box-shadow: 2px 2px 5px black;
}

#transfer-child-form select {
  box-shadow: 2px 2px 5px black;
}

#transfer-child-form button {
  box-shadow: 2px 2px 5px black;
}

#withdraw-child-form input {
  box-shadow: 2px 2px 5px black;
}

#withdraw-child-form select {
  box-shadow: 2px 2px 5px black;
}

#withdraw-child-form button {
  box-shadow: 2px 2px 5px black;
}

#withdraw-child-form div {
  padding: 7px
}

#withdraw-child-form {
  margin-top: 10px;
}

#add-reward-toggle-button {
  position: relative;
  left: 160px;
}

#initial-setup input {
  box-shadow: 2px 2px 5px black;
}

#percent {
  width: 10px;
  height: 34px;
  position: relative;
  left: 337px;
  bottom: 34px;
  box-shadow: 2px 2px 5px black;
}
