// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: rgba(209, 240, 177, 0.7) !important;
	padding: 70px 0 0 0;
	font-family: 'Open Sans', sans-serif !important;
}

button{
	background-color: #8DC498 !important;
	border:none !important;
}

footer{
	margin-top: 25%;
}


.login-row{
	// border-style: 1px solid #648767;
	// border-radius: 12px;
	padding-bottom: 25px;
	width:50%
}


.nav-link {
	color: #ffffff;
}

.top-buffer {
	margin-top:45px;
}

#navigation-bar{
	background-color: #8DC498;

}

.welcome-header{
}



.piggy-bank-icon{
	margin: auto;
}
