// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #E4E6C3 !important;
	font-family: 'Open Sans', sans-serif;
	padding: 70px 0 0 0;
}

button{
	background-color: #8DC498 !important;
}


.login-row{
	border-radius: 10px;
	background-color: #3C844B;
	padding-bottom: 25px;
	width:50%
}

a {
	text-decoration: line-through;
	color: orange;
}

.nav-link {
	color: #ffffff;
}

.top-buffer {
margin-top:45px; 
}

#navigation-bar{
	background-color: #8DC498;
	
}

.welcome-header{
	margin-top:150px; 
} 

.piggy-bank-icon{
	margin: auto;
}

