// Place all the styles related to the shawntest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#amount {

	width: 54%;
}

#notification {
	border-bottom: 1px solid;
	width: 80%;
	margin: auto;
}

#notification-list {
	outline: 1px solid;
	width: 40%;
	position: relative;
	margin: auto;
}
